* {
    font-family: Outfit, 'Merriweather', serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color: black;
    color: hsl(217, 12%, 63%);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#rating-state, #thankyou-state {
  align-self: center;
  background-image: linear-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 8%));
  margin: 5rem;
  padding: 2rem;
  border-radius: 20px;
  max-width: 400px;
}

#ratings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.rating {
  background-color: hsl(213, 19%, 18%);
  height: 25px;
  width: 25px;
  padding: 1rem;
  margin-top: 1.5rem;
  border-radius: 50%;
}

.rating:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(213, 19%, 18%);
  cursor: pointer;
}

.active {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

#thankyou-state {
  visibility: hidden;
}

h3 {
  color: hsl(0, 0%, 100%);
}

.btn-submit {
  background-color: hsl(25, 97%, 53%);
  border: none;
  color: hsl(0, 0%, 100%);
  margin-top: 2rem;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  transition-duration: 0.4s;
}

.btn-submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.phone {
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  margin-left: 4rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}